[submodule "source/poky"]
	path = source/poky
	url = git://git.yoctoproject.org/poky
[submodule "custom/yocto-docker-conf"]
	path = custom/yocto-docker-conf
	url = git@github.com:BorisKontorovich/yocto-docker-conf.git
